// :root {
//   --color-primary: #e5e5e5;
//   --color-black: #181717;
//   --color-grey: #606060;
//   --color-green-l: #c4ffbe;
//   --color-green: #a8d67c;
// }

:root {
  --color-white: #fff;
  --color-black: #212121;
  // --color-base-gray: #ededed;
  --color-base-gray: rgba(0, 0, 0, 0.03);
  --color-text-gray: rgba(143, 143, 143, 1);
  --color-text-gray-dimmed: rgba(143, 143, 143, 0.5);
  --color-active-blue: rgba(25, 79, 152, 1);
  --color-active-blue-low-opacity: rgba(25, 79, 152, 0.3);
  --color-active-element: #e6ebf1;
  --color-deep-blue: rgba(0, 46, 109, 1);
  --color-header-top: #0b264a;
  --color-footer-bg: #3e3e3e;
  --color-red: #cb5f71;
  --color-red-bright: #f21616;
  --color-bagination-item: #e1e6ec;
  --color-social-link: rgba(0, 0, 0, 0.2);
  --color-link-active: #2787f5;
}

// color variables

$light: #f1f1fa;
$secondary: #dee2e6;
$warning: #dfd446;

h1 {
  margin-top: 24px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
}

h2 {
  margin-top: 24px;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 16px;
}

h3 {
  margin-top: 24px;
  font-size: 22px;
  margin-bottom: 16px;
  font-weight: 700;
}

h4 {
  margin-bottom: 1rem;
}

h5 {
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }
}

a {
  color: rgba(25, 79, 152, 1);
}

// .main,
// .page-content > div > div {
//   > h2 {
//     margin-top: 24px;
//     margin-bottom: 14px;
//     font-size: 22px;
//   }

//   > ul a {
//     color: $dark;
//     font-weight: 500;
//     opacity: 0.9;

//     &:hover {
//       transition: 0.2s;
//       color: $dark;
//       opacity: 1;
//       text-decoration: underline;
//     }
//   }
// }

// ul > li:not(:first-child) {
//   margin-top: 4px;
// }
