// :root {
//   --color-primary: #e5e5e5;
//   --color-black: #181717;
//   --color-grey: #606060;
//   --color-green-l: #c4ffbe;
//   --color-green: #a8d67c;
// }

// color variables

$light: #f1f1fa;
$secondary: #dee2e6;
$warning: #dfd446;

