// hero-section

.hero-section {
  background-size: cover;
  background-position: center;
}

.logo {
  width: 40%;
}

.dropdown-menu {
  max-height: 292px;
  overflow-y: auto;
  padding-top: 0;
}

.wp-block-media-text {
  &__media > img {
    height: auto;
  }
}

.director-photo {
  width: 50%;
  float: left;
  display: block;
  padding-right: 20px;
  // padding-bottom: 10px;
  clear: both;
}

.navbar-nav {
  justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
}

// citation
.citation {
  position: relative;
  display: block;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  hyphens: auto;
  border-radius: $border-radius;
  @include box-shadow($box-shadow);

  // &::before {
  //   position: absolute;
  //   top: -#{map-get($spacers, 4)};
  //   font-size: $display1-size;
  //   content: "“";
  //   color: $secondary;
  // }

  & > &-footer {
    margin: $spacer 0 0;
    // font-size: $blockquote-small-font-size;
    color: $dark;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 40px;
    // border-top: 1px solid;
  }
}

// accordion-requirements

.accordion-requirements {
  > div {
    ul {
      list-style-type: circle;
    }

    button {
      color: $gray-600;
    }
  }
}
