// hero-section

.hero-section {
  background-size: cover;
  background-position: center;

  > div {
    margin: 0 auto;
  }

  &__text {
    a {
      background-color: white;
      padding: 6px;
      font-size: 17px;
      display: inline-block;
      margin: 0 auto;
      box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 20%);
    }

    h1 {
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 127%;
    }
  }

  @media (max-width: 600px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 17px;

    h1 {
      font-size: 1.2rem;
      line-height: 135%;
    }

    a {
      padding: 5px;
      box-shadow: 0;
    }
  }
}

.logo {
  width: 40%;
}

.dropdown-menu {
  max-height: 292px;
  overflow-y: auto;
  padding-top: 0;
}

.wp-block-media-text {
  &__media > img {
    height: auto;
  }
}

.navbar-nav {
  justify-content: center;
  font-size: 17px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 767px) {
  .navbar-collapse {
    margin-top: 24px;
  }

  .dropdown-menu {
    max-height: unset;
  }

  .dropdown-menu.show {
    padding: 4px;
  }

  .menu-item:not(:last-child) > .dropdown-item {
    border-bottom: 1px solid rgb(190, 190, 190);
  }

  .dropdown-item {
    white-space: normal;
    width: 95%;
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
  }
}

// citation

.director-photo {
  width: 50%;
  float: left;
  display: block;
  margin-right: 20px;
  margin-bottom: 10px;
}

@media (max-width: 450px) {
  .director-photo {
    float: none;
    width: 90%;
    margin-right: auto;
    margin-bottom: 24px;
    height: auto;
  }
}

.citation {
  position: relative;
  display: block;
  margin: 0;
  line-height: 1.6;
  hyphens: auto;
  border-radius: $border-radius;
  @include box-shadow($box-shadow);

  // &::before {
  //   position: absolute;
  //   top: -#{map-get($spacers, 4)};
  //   font-size: $display1-size;
  //   content: "“";
  //   color: $secondary;
  // }

  & > &-footer {
    margin: $spacer 0 0;
    color: $dark;
    font-weight: 500;
    font-style: normal;
  }
}

// accordion-requirements

.accordion-requirements {
  > div {
    ul {
      list-style-type: circle;
    }

    button {
      color: $gray-600;
    }
  }
}
