.footer {
  background-color: lightblue;
  padding: 30px 39px;

  ul {
    list-style-type: none;
  }

  a {
    color: black;
  }

  .navbar-footer > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .navbar-footer > ul > .page_item > a {
    font-size: 17px;
    font-weight: 700;
  }

  .navbar-footer > ul > .page_item {
    margin-bottom: 20px;
    flex-basis: 20%;
    padding-right: 35px;
  }

  .navbar-footer > ul > .page_item > .children {
    padding-left: 0;
    margin-top: 26px;
    margin-bottom: 26px;

    > .page_item {
      font-size: 14px;
      opacity: 0.5;
      line-height: 18px;
    }

    > .page_item:not(:first-child) {
      margin-top: 12px;
    }

    > .page_item:hover {
      opacity: 1;
      text-decoration: none !important;
    }
  }
}
