body,
html {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
}

.main-content {
  padding: 2rem;
  height: 100%;
}

.aside {
  &__banner {
    display: block;
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
    }
  }

  &__banner--covid > div {
    background-color: #eeecec;
    font-size: 14px;
    color: black;
    padding: 0 10px 5px;
    line-height: 170%;

    span {
      display: inline-block;
      background-image: url("../../images/icons/covid-icon.svg");
      height: 30px;
      width: 30px;
      position: relative;
      top: 11px;
      background-size: 30px;
      margin-right: 3px;
    }
  }

  &__banner:not(:first-child) {
    margin-top: 20px;
  }
}
