body,
html {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  position: relative;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 160%;

  @media (max-width: 600px) {
    font-size: 17px;
    line-height: 150%;
  }
}

.container-fluid {
  padding: 0 30px;
}

@media (max-width: 600px) {
  .container-fluid {
    padding: 0 10px;
  }

  // .col-12 {
  //   padding-right: 0;
  // }
}

.page-container {
  margin-top: 24px;
}

.sidebar {
  margin-top: 56px;
}

.home {
  .sidebar {
    margin-top: 0;
  }

  .main {
    margin-top: 24px;
  }
}

.slider_instance {
  width: 90%;
}

.wp-block-image {
  > img {
    height: auto;
    display: block;
    width: 90%;
  }
}

@media (max-width: 991px) {
  .slider_instance,
  .wp-block-image > img {
    width: 100%;
  }
}

figure.wp-block-table {
  margin-top: 24px;
}

.aside {
  &__banner {
    display: block;
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
    }
  }

  &__banner--covid > div {
    background-color: #eeecec;
    font-size: 17px;
    color: black;
    padding: 0 10px 5px;
    line-height: 170%;

    span {
      display: inline-block;
      background-image: url("../../images/icons/covid-icon.svg");
      height: 30px;
      width: 30px;
      position: relative;
      top: 11px;
      background-size: 30px;
      margin-right: 3px;
    }
  }

  &__banner:not(:first-child) {
    margin-top: 20px;
  }
}
