// // Shorthand helper rfs-mixins

// @mixin font-size($value) {
//   @include rfs($value);
// }

// @mixin padding($value) {
//   @include rfs($value, padding);
// }

// @mixin padding-top($value) {
//   @include rfs($value, padding-top);
// }

// @mixin padding-right($value) {
//   @include rfs($value, padding-right);
// }

// @mixin padding-bottom($value) {
//   @include rfs($value, padding-bottom);
// }

// @mixin padding-left($value) {
//   @include rfs($value, padding-left);
// }

// @mixin margin($value) {
//   @include rfs($value, margin);
// }

// @mixin margin-top($value) {
//   @include rfs($value, margin-top);
// }

// @mixin margin-right($value) {
//   @include rfs($value, margin-right);
// }

// @mixin margin-bottom($value) {
//   @include rfs($value, margin-bottom);
// }

// @mixin margin-left($value) {
//   @include rfs($value, margin-left);
// }

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin link-expanded {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin dark-filter($opacity) {
  background: rgba(0, 0, 0, $opacity);
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.visually-hidden {
  @include visually-hidden;
}
