.home {
  .container-fluid {
    padding: 0 30px;
  }

  .wp-block-latest-posts__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    > li {
      width: 47%;
      display: flex;
      flex-direction: column;
      font-weight: 500;
      position: relative;
    }

    > li > a {
      padding-top: 12px;
      margin-top: auto;
    }

    > li > a::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    @media (max-width: 600px) {
      flex-wrap: wrap;
      padding-top: 12px;

      > li {
        width: 95%;
        position: relative;
      }

      > li:not(:first-child) {
        margin-top: 30px;
      }
    }
  }

  @media (max-width: 600px) {
    .page-container {
      padding: 5% !important;
    }

    .row {
      margin: 0 !important;
    }

    .container-fluid {
      padding: 0 3%;
    }

    .main-content {
      padding: 0 !important;
    }

    main.main {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
