.home {
  .wp-block-latest-posts__list {
    display: flex;
    justify-content: space-between;

    > li {
      width: 47%;
      display: flex;
      flex-direction: column;
      // font-size: 18px;
      font-weight: 500;
    }

    > li > a {
      padding-top: 12px;
      margin-top: auto;
    }

    @media (max-width: 600px) {
      flex-wrap: wrap;

      > li {
        width: 90%;
        margin: 0 auto;
      }

      > li:not(:first-child) {
        margin-top: 24px;
      }
    }
  }
}
