.news-archive {
  .sidebar {
    margin-top: 17px;
  }

  img {
    align-self: flex-start;
  }

  .card {
    width: 100%;

    h2 {
      margin-top: 0;
    }

    .btn {
      border: 0.5px solid var(--color-text-gray);
      width: 170px;
    }

    @media (max-width: 500px) {
      .btn {
        width: 100%;
      }
    }
  }

  @media (max-width: 800px) {
    .card-body {
      flex-wrap: wrap;

      img {
        width: 100%;
      }

      .blog-content {
        margin-left: 0 !important;
      }
    }

    .blog-content {
      margin-left: 0 !important;
    }
  }
}
