.news-archive {
  .sidebar {
    margin-top: 17px;
  }

  img {
    align-self: flex-start;
  }

  .card {
    width: 100%;

    h2 {
      margin-top: 0;
    }
  }

  @media (max-width: 800px) {
    .card-body {
      flex-wrap: wrap;
    }
  }
}
